.modalStyles{
    position: absolute;
    width: 60%;
    height: 80%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}
